altair==5.2.0
attrs==23.1.0
backports.zoneinfo==0.2.1
blinker==1.7.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
cachetools==5.3.2
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_35eq66o3mo/croot/certifi_1700501684871/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
clarabel @ file:///Users/runner/miniforge3/conda-bld/clarabel_1697070887682/work
click==8.1.7
contourpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97c8ctlp86/croots/recipe/contourpy_1663827422071/work
cvxpy @ file:///Users/runner/miniforge3/conda-bld/cvxpy-split_1697151118380/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
ecos @ file:///Users/runner/miniforge3/conda-bld/ecos_1696563405884/work
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.40
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-metadata==6.11.0
importlib-resources @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ebz308u1rq/croot/importlib_resources-suite_1702931914010/work
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a23xd3m8b1/croot/matplotlib-suite_1693812470272/work
mdurl==0.1.2
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1687808433287/work
osqp @ file:///Users/runner/miniforge3/conda-bld/osqp_1696560983403/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.0.3
Pillow @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ccx0_h9rkg/croot/pillow_1696580032390/work
pkgutil_resolve_name==1.3.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
plotly @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_672bb9cb-0b87-45c7-a944-fab16de85302u663y0l7/croots/recipe/plotly_1658160062672/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1698245576425/work
protobuf==4.25.1
pyarrow==14.0.2
pydeck==0.8.1b0
Pygments==2.17.2
pyparsing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3b_3vxnd07/croots/recipe/pyparsing_1661452540919/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2023.3.post1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373506986/work
qdldl @ file:///Users/runner/miniforge3/conda-bld/qdldl-python_1702901100119/work
referencing==0.32.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich==13.7.0
rpds-py==0.15.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1683900453702/work/base/dist/scipy-1.10.1-cp38-cp38-macosx_11_0_arm64.whl#sha256=06d649e33fd400c8608c1083a7bb6f490989227277eae7f65577d925d87848e8
scs @ file:///Users/runner/miniforge3/conda-bld/scs_1680828855364/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
streamlit==1.29.0
tenacity @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0ew5sfng29/croot/tenacity_1682972282256/work
toml==0.10.2
toolz==0.12.0
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3a5nrn2jeh/croot/tornado_1696936974091/work
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
validators==0.22.0
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1695395489012/work
zipp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31jm3q76eq/croot/zipp_1704206913245/work
